
.journal__main-content {
    display: flex;

}

.journal__sidebar {
    background-color: $dark-gray;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 25rem;
}

.journal__sidebar-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.journal__sidebar-navbar h3 {
    font-weight: lighter;

}

.journal__new-entry {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin-top: 2rem;
    width: 100%;

    transition: color .3s ease;

    &:hover {
        color: darken($color: white, $amount: 20)
    }
}

.journal__entries {
    margin-top: 3rem;
    flex: 1 1 auto;
    overflow-y: scroll;
}

.journal__entry {
    background-color: white;
    border-radius: 4px;
    color: $dark-gray;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    overflow: hidden;
}

.journal__entry-picture {
    max-width: 5rem;
    max-height: 5rem;
}

.journal__entry-picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.journal__entry-body {
    padding: 0.3rem;
}

.journal__entry-title {
    font-size: 1rem;
    font-weight: bold;
}

.journal__entry-content {
    font-size: 0.8rem;
}

.journal__entry-date-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.2rem;
}

.journal__entry-date-box span {
    font-size: 1.1rem;
}
